<div class="sidebar-nav col-sm-2">
    <div class="well" style="padding: 8px 0;">
        <ul class="nav nav-list">
            <li class="nav-header">Main</li>
            <li class="active"><a href="#"><i class="icon-home"></i> Dashboard</a></li>
            <li><a href="#/usuarios">Registro de usuarios</a></li>
            <li><a href="#/registroventas">Registro de ventas</a></li>
            <li><a class="dropdown-toggle" data-toggle="dropdown">Productos<b class="caret"></b></a>
                <ul class="dropdown-menu multi-level">
                    <li><a class="blog-nav-item active" href="#/pulseras_eventos">Pulseras para eventos</a></li>
                    <li><a class="blog-nav-item active" href="#/tarjetas_presentacion">Tarjetas de presentacion</a></li>
                    <li><a class="blog-nav-item active" href="#/tabloide_color">Tabloide</a></li>
                    <li><a class="blog-nav-item active" href="#/fotobotones">Fotobotones</a></li>
                    <li><a class="blog-nav-item active" href="#/vinil_corte">Vinil de corte</a></li>
                    <li><a class="blog-nav-item active" href="#/volantebn">Volante B/N</a></li>
                    <li><a class="blog-nav-item active" href="#/volantecolor">Volante Color</a></li>
                    <li><a class="blog-nav-item active" href="#/gformato">Lona/Vinil</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
