<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">Editar venta [ID: {{usuario.id}}]</h3>
</div>
<div class="modal-body">
    <form name="usuario_form" class="form-horizontal" role="form" novalidate>

        <form-element label="Nombre completo" mod="usuario">
            <textarea class="form-control" name="nombre_completo" placeholder="Nombre del cliente" ng-model="usuario.nombre_completo">{{usuario.nombre_completo}}</textarea>
            <small class="errorMessage" ng-show="usuario_form.nombre_completo.$dirty && usuario_form.nombre_completo.$invalid"> Ingresa el nombre del cliente</small>
        </form-element>

        <form-element label="Email" mod="usuario">
            <input type="text" class="form-control" name="email" placeholder="Email" ng-model="usuario.email" focus/>
            <small class="errorMessage" ng-show="usuario_form.email.$dirty && usuario_form.email.$invalid"> Ingresa el telefono del cliente.</small>
        </form-element>

        <form-element label="Telefono" mod="usuario">
            <textarea class="form-control" name="telefono" placeholder="Telefono" ng-model="usuario.telefono">{{usuario.telefono}}</textarea>
            <small class="errorMessage" ng-show="usuario_form.telefono.$dirty && usuario_form.telefono.$invalid"> Ingresa los detalles del pedido</small>
        </form-element>

        <form-element label="Cliente maquila" mod="usuario">
            <select class="form-control" name="clienteMaquila" placeholder="Cliente maquila" ng-model="usuario.clienteMaquila" focus>
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
            <small class="errorMessage" ng-show="usuario_form.clienteMaquila.$dirty && usuario_form.clienteMaquila.$invalid"> Ingresa los detalles del pedido</small>
        </form-element>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="saveUsuario(usuario);" ng-disabled="usuario_form.$invalid || enableUpdate" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
