<!--MODAL LONAS-->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form name="lona_form" role="form" novalidate>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Nueva Compra de Lonas</h3>
                </div>
                <div class="panel-body">
                    <div class="modal-body">
                        <!-- Zona cliente -->
                        <div class="row">
                            <div class="col-sm-6" id="panelvolante">
                                <label for="n_clienteLona">ID Cliente</label>
                                <input ng-model="id_cliente" type="text" class="form-control">
                                <button class="btn btn-primary" type="button" ng-click="checkId(id_cliente)">Checar</button>

                                <button class="btn btn-danger" ng-show="cliente.length == 0" type="button" ng-click="registrarCliente(clienteVentana)">Registrar</button>
                                <small class="errorMessage" ng-show="cliente.length == 0">El usuario no existe. Registralo por favor.</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" id="panelvolante">
                                <label for="n_clienteLona">Nombre(Cliente): {{ cliente[0].nombre_completo }}</label>
                                <textarea ng-hide="cliente[0].nombre_completo" class="form-control" name="Nombre" placeholder="Nombre" ng-model="clienteVentana.nombre_completo"></textarea>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="correo_Lona">Correo: {{cliente[0].email}}</label>
                                <textarea ng-hide="cliente[0].email" class="form-control" name="telefono" ng-model="clienteVentana.email"></textarea>
                            </div>
                            <div class="col-sm-5">
                                <label for="tel_Lona">Telefono: {{cliente[0].telefono}}</label>
                                <textarea ng-hide="cliente[0].telefono" class="form-control" name="telefono" placeholder="telefono" ng-model="clienteVentana.telefono"></textarea>
                            </div>
                            <div class="col-sm-5">
                                <label for="tel_Lona">Cliente maquila: {{cliente[0].clienteMaquila}}</label>
                                <select ng-hide="cliente[0].clienteMaquila" class="form-control" name="clienteMaquila" ng-model="clienteVentana.clienteMaquila" focus>
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Tipo:</label>
                                <select name="tipos_lonas" ng-model="tipo" id="lonas_vinil" class="form-control">
                                    <option value="Lona 1 año">Lona 1 año</option>
                                    <option value="Vinil">Vinil</option>
                                    <option value="Microperforado">Microperforado</option>
                                    <option value="Lona translucida">Lona Translucida</option>
                                    <option value="Vinil electro">Vinil Electro</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="s_archivo">Subir Archivo</label>
                                <input type="file">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="m_lonas">Medidas: {{ ancho * largo }} m2</label>
                                <br>
                                <label>Ancho:</label>
                                <input ng-model="ancho" type="text" class="form-control">
                                <label>Largo:</label>
                                <input ng-model="largo" type="text" class="form-control">
                            </div>
                            <div class="col-sm-3 col-sm-offset-1">
                                <label for="a_lonas">Acabado:</label>
                                <br>
                                <input type="checkbox" ng-model="bastilla">
                                <label for="bastilla">Bastilla</label>
                                <br>
                                <input ng-model="ojillos" type="checkbox">
                                <label for="ojillos">Ojillos</label>
                                <br>
                                <input type="checkbox" ng-model="otros">
                                <label for="otros">Otros</label>
                                <textarea ng-model="otros1" ng-show="otros" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="p_lona">Precio: </label>
                                <input type="text" ng-model="lona.precioTotal">
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Fecha de Entrega:</label>
                                <input type="date" class="form-control" ng-model="lona.fechaEntrega">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="pedidoLona(lona)">Pedido</button>
                <button class="btn btn-primary" type="button" ng-click="ok()">OK1</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
